<!--
  Generated template for the TaskFilterPopoverPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding>
  <ion-item>
    <ion-label stacked>Sort by Category</ion-label>
    <ion-input (click)="openCategories($event)" readonly type="text" [(ngModel)]="filter.categoryname"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked>Select dates between</ion-label>
  </ion-item>
  <ion-item>
    <ion-label stacked>Start Date</ion-label>
    <ion-datetime displayFormat="hh:mm a D/MMM/YY" [min]="minDate" [max]="2020" [(ngModel)]="filter.startdate"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label stacked>End Date</ion-label>
    <ion-datetime displayFormat="hh:mm a D/MMM/YY" [min]="filter.startdate" [max]="2020" [(ngModel)]="filter.enddate"></ion-datetime>
  </ion-item>
  <div padding>
    <button ion-button block (click)="filterTasks()">Search</button>
    <button ion-button block (click)="removeFilter()" [style.color]="danger">Remove Filter</button>
    <ion-label style="position:absolute; left: 35px;" [style.color]="infoColour"> {{info}} </ion-label>
  </div>
</ion-content>
