<!--
  Generated template for the CategoriesPopoverPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Categories</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <button (click)="selectCategory(category)" ion-item *ngFor="let category of categories">
      {{category.name}}
    </button>
    <button (click)="createCategory()" style="color:aqua" ion-item>Create Category</button>
  </ion-list>
</ion-content>
