<!--
  Generated template for the NewTaskPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>New Task</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-label style="font-size:20px" floating>Task Name</ion-label>
      <ion-input style="font-size:20px" type="text" [(ngModel)]="task.name"></ion-input>
    </ion-item>

    <ion-item class="item item-text-wrap">
      <ion-label stacked>Task Description</ion-label>
      <ion-input type="text" [(ngModel)]="task.description"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Category</ion-label>
      <ion-input (click)="openCategories($event)" readonly type="text" [(ngModel)]="task.categoryname"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Due Date</ion-label>
      <ion-datetime displayFormat="hh:mm a D/MMM/YY" [min]="minDate" [max]="2020" [(ngModel)]="task.duedate"></ion-datetime>
    </ion-item>

    <div padding>
      <button ion-button block (click)="createTask()">Create Task</button>
      <ion-label style="position:absolute; left: 35px;" [style.color]="infoColour"> {{info}} </ion-label>
    </div>

  </ion-list>
</ion-content>
