<ion-content padding style="background-image:url('../../assets/imgs/StartUpBackground.jpg')">
  <ion-footer>
    <button ion-button block (click)="pushLoginPage()"> Lets get Started!</button>
  </ion-footer>
</ion-content>

