<!--
  Generated template for the TaskOptionsPopoverPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content center text-center>
    <button (click)="editTask()" ion-button>
      <ion-icon name="md-create"></ion-icon>
      edit
    </button>
    <button (click)="deleteTask()" ion-button>
      <ion-icon name="ios-trash"></ion-icon>
      delete
    </button>
</ion-content>
