<ion-header>

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-label floating>Username</ion-label>
      <ion-input type="text" [(ngModel)]="user.username" value=""></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="password" [(ngModel)]="user.password"></ion-input>
    </ion-item>

  </ion-list>

  <div text-wrap padding>
    <button ion-button block (click)="login()">Login</button>
    <button ion-button block (click)="signup()">Sign Up</button>
    <ion-label style="position:absolute; left: 35px;"  [style.color]="infoColour"> {{loginInformation}} </ion-label>
  </div>


</ion-content>
