<ion-header>
  <ion-navbar>
    <ion-title>
      To Do
    </ion-title>
    <ion-buttons end>
      <button ion-button style="color:dodgerblue" round (click)="sortTasks()" icon-right>
        Due<ion-icon [name]="sortIcon"></ion-icon>
      </button>
      <button ion-button style="color:dodgerblue" round (click)="filterTasks()" icon-start>
        <ion-icon name="ios-search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button (click)="openTaskOptions(task)" ion-item *ngFor="let task of tasks">
      <ion-card>
        <ion-card-header>
          <ion-grid>
            <ion-row>
              <ion-col>
                {{task.name}}
              </ion-col>
              <ion-col style="text-align:right">
                {{task.timeleft}}
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-header>
        <ion-card-content text-wrap>
          <p>Description: {{task.description}}</p>
          <p>Category: {{task.categoryname}}</p>
          <p>Due Date: {{task.duedate}}</p>
        </ion-card-content>
      </ion-card>
    </button>
  </ion-list>
</ion-content>

<ion-footer>
  <button (click) ="loadAddPage()" ion-button block>New Task</button>
</ion-footer>
