<!--
  Generated template for the CreateCategoryPopoverPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Create Category</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label floating>Category Name</ion-label>
    <ion-input type="text" [(ngModel)]="category.name"></ion-input>
  </ion-item>

  <div padding>
    <button ion-button block (click)="createCategory()">Create</button>
    <ion-label style="position:absolute; left: 35px;" [style.color]="infoColour"> {{info}} </ion-label>
  </div>
</ion-content>
